html, body {
    height: 100%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}
body{
  background-image: url("wall.jpg");
  background-size: cover;
  background;no-repeat;
}
.button{
  background-color: red;
  color:white;
  border:solid 1px red;
  border-radius:3px;
  box-shadow:inherit 0 3px 3px green;
  cursor:pointer;
}
.button:hover{
  background:white;
  color:blueviolet;
}
.main{
  width:500px;
  margin:auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  border:solid 1px;
}
.logo{
  font-size:32px;
  margin-bottom:15px;
  color:red;
  margin-top:0;
  margin-bottom:10px;
}
.tagline{
  font-size:20px;
  color:white;
}
